@import "tailwindcss";

@theme inline {
  --color-background: #000000;
  --color-foreground: #ededed;
  --color-brand-red: #e60000;
  --color-grid-line: #333333;
  
  --font-sans: var(--font-inter);
  --font-mono: var(--font-space-mono);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}

@media (min-width: 768px) {
  body, a, button {
    cursor: none !important;
  }
}
